<html>
  <head>
    <title>status board</title>
  </head>
  <body>
    <h1>status board</h1>
    <div id="status_list">
      <span>GitHub.com</span>
      <span class="status"></span>
    </div>
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
